/* common:  BEGIN */
* {
    box-sizing: border-box;
}

ul,
ol,
h2 {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #0E0E38;
}

html {
    font-family: "poppins", sans-serif;
    font-weight: 500;
    vertical-align: baseline;
}

body {
    background-color: #D8DAE2;
    line-height: 1;
    position: relative;
}

.album-photo {
    margin: 100px auto;
    width: 1563px;
    height: 777px;
    border-radius: 26px;
    padding: 62px;
    background-color: #EFF0F1;
    box-shadow: 0 76px 27px 0 #061b521a;

    &::after,
    &::before {
        display: inline-block;
        position: absolute;
        content: "";
        background: #ccc;
        border-radius: 50%;
        z-index: -1;
    }

    &::before {
        top: -148px;
        right: 287px;
        width: 310px;
        height: 294px;
    }

    &::after {
        bottom: -159px;
        left: 221px;
        width: 433px;
        height: 410px;
    }
}

/* common: END */

/* header: BEGIN */
header {
    width: 100%;
    font-size: 0px;
    margin-bottom: 56px;

    h1 {
        margin: 0px;
        font-family: Merriweather;
        font-weight: 700;
        font-size: 32px;
        line-height: 40.22px;
        margin-bottom: 24px;
    }

    li {
        display: inline-block;
        height: 44px;
        border-radius: 8px;
        padding: 10px;
        background-color: #FFFFFF;
        font-size: 16px;
        line-height: 24px;
        margin-right: 8px;
        transition: all ease-in-out 0.5s;

        &:hover {
            background-color: #D8DAE2;
            cursor: pointer;
        }
    }
}

/* header: END*/
/* main: BEGIN */
main {
    width: 100%;
    font-size: 0px;
}

.album-img {
    font-size: 0px;
    display: inline-block;
    width: 437px;
    height: 489px;
    border-radius: 32px;
    padding: 24px;
    background-color: #FFFFFF;
    margin-right: 64px;

    a:hover {
        cursor: pointer;
    }
}

.main-img {
    img {
        width: 389px;
        height: 261px;
        border-radius: 24px;
        margin-bottom: 16px;
    }
}

.sub-img {
    img {
        width: 119px;
        height: 97px;
        border-radius: 24px;
        margin-right: 16px;
    }
}

.content {  
    width: 389px;
    height: 36px;
    margin: 24px 0px;

    h2 {
        width: 311px;
        height: 36px;
        font-size: 24px;
        line-height: 36px;
        color: #0E0E38;
        vertical-align: top;
        margin-right: 16px;
    }

    i {
        font-size: 31px;
        margin-right: 4px;
    }

    span {
        width: 27px;
        height: 36px;
        color: #0E0E38;
        font-size: 16px;
        line-height: 24px;
        margin: 6px 0px;
        vertical-align: text-bottom;
    }
}

/* main: END */