@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&display=swap');
* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins";
}

body{
    margin: 0;
}

ul,ol {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #5F5B53;
}
.btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    padding: 10px 40px;
    background-color: #171000;
    color: #FFFFFF;
    border-radius: 24.5px;
    text-align: center;
}
.logo{
    height: 34px;
}
header, .welcome, .our-popular-courses, .comment{
    padding: 0px 9%;
}
header, .welcome {
    background-color: #FFFCF4;
    color: #5F5B53;
}
.our-popular-courses {
    background-color: #fff;
    color: #5F5B53;
}
.testimonial{
    background-color: #2E2100;
    color: #FFFFFF;
i{
    position: absolute;
    color: #634700;
    font-size: 30px;
}
}
.container{
    max-width: 1170px;
    margin: 0px auto;
}
h1, h2, h3, p, nav, a, ul {
    margin: 0;
}
.direction {
    display: flex;
    flex-flow: row nowrap;
    gap: 18px;
    position: absolute;
    top: 42px;
    right: 0px;
}
.row {
    display: flex;
    flex-direction: row;
}
.left, .right {
    display: flex;
    flex-direction: column;
}

