/* Common CSS: BEGIN */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", serif;
    color: #1F1D2A;
}

body {
    margin: 0;
    background-color: #F0E8E2;
    padding: 40px 120px;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #1F1D2A;
}

.btn {
    padding: 10px 28px;
    border: 1px solid #1F1D2A;
    border-radius: 6px;
}

.padding-left-right-120 {
    padding-left: 120px;
    padding-right: 120px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Common CSS: END */

/* Header: BEGIN */
header {
    width: 100%;
    display: flex;
    margin: 40px auto 100px;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    font-size: 32px;
}

header nav ul {
    display: flex;
}

header li a {
    padding: 10px 20px;
    margin: 5px;
}

/* Header: END */

/* Banner: BEGIN */
.banner {
    min-height: 300px;
    display: flex;
    margin-bottom: 100px;
}

.content {
    width: 50%;
    margin-right: 60px;
    
    h1 {
        font-size: 55px;
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 50px;
        color: #9B948E;
    }

    .btn-banner {
        background-color: #96C67F;
        padding: 20px 22px;
        border-radius: 6px;
    }
}

.slides {
    width: 50%;

    img {
        aspect-ratio: 1 / 1;
        max-width: 500px;
        border-radius: 50%;
    }
}
/* banner end */
/* company begin */
.company{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.company ul{
    display: flex;
    column-gap: 60px;
}

.company img{
    height: 30px;
}
/* company end */
/* slogan begin */
.slogan{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    p{
        font-size: 18px;
        line-height: 27px;
    }
    section{
        font-size: 32px;
        line-height: 48px;
        font-weight: 600;    
    }
}
/* slogan end */
/* list-teacher begin */
.list-teacher{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 30px;
}

.teacher{ 
    width: 295px;
    height: 450px;
    border-radius: 12px;
    background-color: #ffffff;
    
}

.teacher img {
    width: 295px;
    height: 350px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    aspect-ratio: 59/70;
}

.name{
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0px 6px 20px;
}

.teaching{
    font-size: 16px;
    line-height: 24px;
    margin: 6px 0px 20px 20px;
    color: #9B948E;
}
/* list-teacher: end */